<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %> 
<body>
    <div class="page-wrapper chiller-theme toggled">
        <%- include('../partials/sidebar.ejs') %> 
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <%- include('../partials/navbar_header.ejs') %> 
            <div class="container-fluid">
                <%- body %> 
                
                <%- include('../partials/footer.ejs') %> 
            </div>
        </main>
        <!-- page-content" -->
    </div>  
    <%- include('../partials/javascript.ejs') %> 
</body>

</html>
