
<div class="form-group">
    <textarea class="form-control" id="content" rows="3" placeholder="Bạn đang suy nghĩ gì?"
        name="content"></textarea>
    <input id="id-user" name="user_id" value="<%- auth.id %>" hidden>
</div>
<button type="submit" class="btn btn-primary ml-auto" onclick="postStatus()">Post</button>
<div class="container-post container mt-4">

<% post.forEach((element, index)=> { %>
    <%- ` <div class="fb-cards-designs">
        <div class="postId" hidden>${element._id}</div>
        <div class="fb-clone-card position-relative">
            <div class="panel-options position-absolute" style="z-index: 99; top:30px; right:5px; display: none;" >
                <ul class="list-group">
                <li class="list-group-item">Chỉnh sửa</li>
                <li class="list-group-item"><a class="deletePost" href="">Xoá</a></li>
                </ul>
             </div>
            <div class="fb-card-main-content">
                <div class="fb-card-header">
                    <div class="user-post-info">
                        <div class="user-thumb">
                            <img src="https://randomuser.me/api/portraits/men/94.jpg" class="img-responsive" />
                        </div>
                        <div class="user-information">
                            <a href="/account/${element.user._id}">
                                <p>${element.user.name}</p>
                            </a>
                            <small>${element.created_at.toLocaleString()}</small>
                        </div>
                    </div>
                    <div class="post-action">
                    ` %>
                        <% if (element.user.name == auth.name){ %>
                            <i class="fas fa-ellipsis-h"></i>
                        <% } %>
                    <%- `
                    </div>
                </div>

                <div class="fb-card-body simple-text-card simple-image-card">
                    <p>${element.content}</p>
                    <div class="images-container">
                        <img src="" class="img-responsive" />
                    </div>
                </div>

            </div>

            <div class="fb-card-like-comment-holder">
                <div class="fb-card-like-comment">
                    <div class="likes-emoji-holder">
                        <span>${element.like_count} Likes</span>
                    </div>
                    <div class="like-comment-holder">
                        <span>${element.comment_count} Commnets</span>
                    </div>
                </div>
            </div>

            <div class="fb-card-actions-holder">
                <div class="fb-card-actions">
                    <div class="fb-btn-holder">
                        <a href="#"><i class="far fa-thumbs-up"></i> Like</a>
                    </div>
                    <div class="fb-btn-holder">
                        <a href="#"><i class="far fa-comment-alt"></i> Comment</a>
                    </div>
                    <div class="fb-btn-holder">
                        <a href="#"><i class="far fa-share-square"></i> Share</a>
                    </div>
                </div>
            </div>

            <form action="/comment" method="POST">
                <div class="fb-card-comments">
                    <div class="comment-input-holder">
                        <div class="user-thumb">
                            <img src="https://randomuser.me/api/portraits/women/85.jpg" class="img-responsive" />
                        </div>
                        <div class="comment-input">
                            <input class="_postId" name="_postId" value="${element._id}" hidden>
                            <input class="_userId" name="_userId" value="${auth._id}" hidden>
                            <input class="form-control" contenteditable="true" placeholder="write a comment"
                                style="font-size: 0.8rem;" name="content_comment">
                        </div>
                    </div>
                    `
                    %>

                    <% cmt.forEach((comment, index)=> { %>
                        <% if(comment._postId.equals(element._id)) { %>
                            <%- `
                            <div class="fb-card-header mx-4 mt-2 mb-3">
                                <div class="user-post-info">
                                    <div class="user-thumb">
                                        <img src="http://www.kinhtevaphapluat.vn/_layouts/Tandan_v2/img/noavatar.png"
                                            class="img-responsive" />
                                    </div>
                                    <div class="user-information">
                                        <a href="/account/${comment._userId}">
                                            <div>${comment.user.name}</div>
                                        </a>
                                        <div>${comment.content}</div>
                                    </div>
                                </div>
                            </div>
                            ` %>
                        <% }%>
                    <% }); %>

    <%- `
    </div>
    </form>
    </div>
    </div>
    <div class="created-by" style="text-align:center;margin-bottom:16px;"></div>
    `%>
<% }); %>
</div>